# Datamodels Hypothesis: Metric Not Effective

The goal of this notebook is explore the behavior of the used metric Google BLEU (Gleu) to understand how it's the distribution of the collection when using this metric and how it can capture the language model behavior. The outputs will be based on the GPT2 generation with 20 tokens max generation
</br> This will be done with the following steps:

 - 1. Plot the distributions of values for the metric for each task
 - 2. Analyse the metric diference when present with samples of the target task and the different possible proportions
 - 3. Qualitative comparison of best x worst case for each task
 - 4. Train x Test Distribution

## Results

## Setup

In [1]:
import pandas as pd
import numpy as np
import torch
import os
import datetime

In [4]:


## Starting time
print(f"Starting time: {datetime.datetime.now()}")

datamodel_path = "../../../../data/bbh/datamodels/reduced_sample_gpt2"
train_collections = "collections/train"
train_pre_collections = "pre_collections/train"

_collections_list = []
_pre_collections_list = []

for file in os.listdir(datamodel_path + "/" + train_collections):
    df = pd.read_feather(datamodel_path + "/" + train_collections + "/" + file)
    _collections_list.append(df)

for file in os.listdir(datamodel_path + "/" + train_pre_collections):
    df = pd.read_feather(datamodel_path + "/" + train_pre_collections + "/" + file)
    _pre_collections_list.append(df)


collections_df = pd.concat(_collections_list)
pre_collections_df = pd.concat(_pre_collections_list)

print(f"Ending time: {datetime.datetime.now()}")

Starting time: 2025-01-20 13:21:11.048899
Ending time: 2025-01-20 13:21:31.417553

In [5]:
collections_df.head()

,collection_idx,test_idx,input,evaluation
0,2050,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
1,2050,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
2,2050,2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
3,2050,3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
4,2050,4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0

In [6]:
pre_collections_df.head()

,collection_idx,test_idx,input,predicted_output,true_output
0,8225,0,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...","\n\n\nNotes\n\n(a) The ""if"" part of the if-cl",(A)
1,8225,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...","Given a sentence, what is the predicted ou...",(C)
2,8225,2,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",,(A)
3,8225,3,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...","\n In the following sentences, explain the a...",(A)
4,8225,4,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",,(C)